{% extends 'layout.html' %}
{% block content %}
    <form class='form-horizontal' method="post" novalidate>
        {% csrf_token %}
        {% for fields in form %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ fields.label }}</label>
                <div class="col-sm-10">
                    {{ fields }}
                    <span style="color: red">{{ fields.errors.0 }}</span>
                </div>
            </div>
        {% endfor %}
        <div clas="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value='提交'>
            </div>
        </div>
    </form>
{% endblock %}